<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="main.java.utils.SuiteListener"/>
    </listeners>
    <test name="MyOwnFrameWork">
        <parameter name="BrowserName" value="chrome" />
        <classes>
            <class name="test.java.AmazonLoginPageTest"/>
        </classes>
    </test>
</suite>